<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dmims.dmims"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_dmims"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_dmims"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.FeedbackAnalysis1"
          >

        </activity>
        <activity android:name=".activity.UpdateScheduledExamFeedback" />
        <activity
            android:name=".activity.GrievanceFull"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewRegGrievHod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewGrievance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcademicCalUploadInsti"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcademicCalenderUploadA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentSubmittedGrievance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewGrievPrincipal"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".broadCasts.SingleUploadBroadcastReceiverAdmin"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dmims.dmims.broadCasts.uploadservice.broadcast.status" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.GreivanceStudFile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScheduledFeedbackEI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Student_Feedback_SummativeExam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FormativeFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackOptionType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistrarFeedbackSchdule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentPdfViewr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Activity_time_table_institute"
            android:label="@string/title_activity_time_table_institute"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Notification_Admin"
            android:label="@string/title_activity_notification__admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CurrentAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProgAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageUpload"
            android:label="@string/title_activity_image_upload"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AdminNoticeBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcademicCalender"
            android:label="@string/title_activity_academic__calender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EmergencyContact"
            android:label="@string/title_activity_emergency_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.noticeboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GrievanceCellBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.StudentDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.AdminDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.InstituteDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Notification_Institute"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.InstituteNoticeBoard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.FacultyDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.FacultyNoticeBoard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.FacultyAcademicCalender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_time_table_faculty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Notification_Faculty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Feedback_faculty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Appraisal_faculty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Exam_Student"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_time_table_student"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Appraisal_student"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Notification_Student"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.Exam_FeedBack_Admin_Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Exam_FeedBack_Admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Notification_FeedBack_Admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.StudentAcademicCalender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.ExamCellDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.MCQ_ExamCell"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Notification_ExamCell"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.StudNoticeData"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_student_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.CurrentNotice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.CurrentGrievance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_GetGreivance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.GreivanceCellDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Greivance_Cell_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Greivance_Notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Admin_Inbox_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Institute_Admin_Inbox_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Institute_Current_InboxNoticeAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.CurrentNoticeAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Notification_Admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Admin_CurrentNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Student_CurrentNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Notification_Institute_Admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Institute_Admin_CurrentNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.RegisterarCellDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.PrincipalDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.HodDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".dashboard.DeanDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.ExamMCQ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.NewUnaRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Activity_Notification_SelfInstitute_Admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Institute_Admin_Self_CurrentNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.ExamMcqUpload"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.ExamAdminNoticeBoard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.EXAM_GET_UploadMCQ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Common_PDF_Viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Common_Image_Viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Student_GET_UploadMCQ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Exam_Admin_CurrentNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Notification_SelfExam_Admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Exam_Admin_Self_CurrentNotification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.EXAM_InBox_GET_UploadMCQ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Activity_Exam_Admin_Inbox_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.Exam_Current_InboxNoticeAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.CurrentGrievHodPrincConv"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />

        <activity android:name=".activity.FeedbackAnalysisRecycle"
            >

        </activity>
    </application>

</manifest>